<html>
<body>
<h1>Submit a Review</h1>
<form method = "post" action = "/submit">
					<table>
					<tr><td>Food</td><td><input type="text" id="Food" name="Food" /></td></tr>
					<tr><td>Location</td><td><input type="text" id="Location" name="Location" /></td></tr>
					<tr><td>Number</td><td><input type="number" name="Number" min="1" max="10" step="1" value="1" size="3"/></td></tr>
					<tr><td>Description</td><td><input type="text" name="Description" id="Description"/></td></tr>
					</table>
					<input type="submit">
					</form>
</body>
</html>